.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ), url("https://dl.airtable.com/.attachments/a0cd0702c443f31526267f38ea5314a1/2447eb7a/paris.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
    display: flex;
    align-self: center;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput  {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 10px;
    width: 190px;
    border-radius: 10px;
}

.loginRegisterButton {
   position: absolute;
   top: 60px;
   right: 50px;
   background-color: teal;
   cursor: pointer;
   border: none;
   padding: 10px;
   color: white;
   border-radius: 10px;
}
